<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaogua.comments.dal.mapper.CreditHistoryMapper">
    <select id="selectByUserCodeAndEventAndDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_credit_history
        where user_code = #{userCode}
          and event = #{event}
        <if test="startDate != null and endDate != null">
            and create_date between #{startDate} and #{endDate}
        </if>
    </select>
    <select id="selectByRelCodeAndEventAndDate" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_credit_history
        where rel_code = #{relCode}
        and event = #{event}
        <if test="startDate != null and endDate != null">
            and create_date between #{startDate} and #{endDate}
        </if>
    </select>
</mapper>