<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaogua.comments.dal.mapper.KnowledgeFileMapper">
  <resultMap id="BaseResultMap" type="com.xiaogua.comments.dal.entity.KnowledgeFile">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="knowledge_code" jdbcType="VARCHAR" property="knowledgeCode" />
    <result column="file_code" jdbcType="VARCHAR" property="fileCode" />
    <result column="detno" jdbcType="INTEGER" property="detno" />
    <result column="create_date" jdbcType="VARCHAR" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, code, knowledge_code, file_code, detno, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_knowledge_file
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_knowledge_file
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xiaogua.comments.dal.entity.KnowledgeFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_knowledge_file (code, knowledge_code, file_code, 
      detno, create_date)
    values (#{code,jdbcType=VARCHAR}, #{knowledgeCode,jdbcType=VARCHAR}, #{fileCode,jdbcType=VARCHAR}, 
      #{detno,jdbcType=INTEGER}, #{createDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xiaogua.comments.dal.entity.KnowledgeFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_knowledge_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="knowledgeCode != null">
        knowledge_code,
      </if>
      <if test="fileCode != null">
        file_code,
      </if>
      <if test="detno != null">
        detno,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="knowledgeCode != null">
        #{knowledgeCode,jdbcType=VARCHAR},
      </if>
      <if test="fileCode != null">
        #{fileCode,jdbcType=VARCHAR},
      </if>
      <if test="detno != null">
        #{detno,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xiaogua.comments.dal.entity.KnowledgeFile">
    update t_knowledge_file
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="knowledgeCode != null">
        knowledge_code = #{knowledgeCode,jdbcType=VARCHAR},
      </if>
      <if test="fileCode != null">
        file_code = #{fileCode,jdbcType=VARCHAR},
      </if>
      <if test="detno != null">
        detno = #{detno,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xiaogua.comments.dal.entity.KnowledgeFile">
    update t_knowledge_file
    set code = #{code,jdbcType=VARCHAR},
      knowledge_code = #{knowledgeCode,jdbcType=VARCHAR},
      file_code = #{fileCode,jdbcType=VARCHAR},
      detno = #{detno,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_knowledge_file
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <sql id="Table_Base_Column_List">
    t_knowledge_file.id, t_knowledge_file.code, t_knowledge_file.knowledge_code, t_knowledge_file.file_code, 
    t_knowledge_file.detno, t_knowledge_file.create_date
  </sql>
</mapper>