<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaogua.comments.dal.mapper.MessageBoardMapper">
    <select id="count" resultType="java.lang.Integer">
        select count(1)
        from t_message_board
        where 1 = 1
        <if test="isRead != null">
            and is_read = #{isRead}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="userCode != null">
            and user_code = #{userCode}
        </if>
    </select>
    <select id="findPage" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_message_board
        where 1 = 1
        <if test="isRead != null">
            and is_read = #{isRead}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="userCode != null">
            and user_code = #{userCode}
        </if>
        order by create_date desc
        limit #{index},#{pageSize}
    </select>
</mapper>